<apex:page controller="MyHRUser">
  <!-- Begin Default Content REMOVE THIS -->
 <font size="12" color="black"> Your HR Username is: </font>
 <font size="12" color="red"> {!username} </font>
 <br/>
 <font size="12" color="black"> Your HR User Password is:  </font>
 <font size="12" color="red"> workshop123  </font>
 <br/>
  <!-- End Default Content REMOVE THIS -->
</apex:page>