<apex:page standardController="Resource__c" extensions="ImageVisualizationController">
<apex:includeScript value="{!$Resource.jQuery}"/>
<apex:stylesheet value="{!URLFOR($Resource.jQueryThumbnail, '/nailthumb/jquery.nailthumb.1.1.min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.jQueryThumbnail, '/nailthumb/jquery.nailthumb.1.1.min.js')}"/>
<apex:includeScript value="{!$Resource.jQueryImgPreload}"/>
<apex:includeScript value="{!$Resource.jcarousel}"/>


    <style type="text/css">
        #preview {
            padding-bottom: 10px;
            padding-right: 50px;
            padding-left: 50px;
        }
        .square-thumb {
            width: 300px;
            height: 300px;
            float: left;
            margin: 8px;
        }
        img{
            cursor: pointer;
        }
        /*.nailthumb-container square-thumb{*/
        /*}*/
        #no_img_info {
            display: block;    
            text-align: center;
            width:100%;
            height: 350px;
        }
        #no_img_info div{
            padding: 150px;
        }

        .jcarousel-wrapper {
        /*    margin: 20px auto;
            position: relative;
            border: 10px solid #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 0 2px #999;
            -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
        }

        /** Carousel **/

        .jcarousel {
            position: relative;
            /*overflow: hidden;*/
            width: 100% !important;
        }

        .jcarousel ul {
            width: 20000em;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .jcarousel li {
            width: 200px;
            float: left;
            border: 1px solid #fff;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .jcarousel img {
            display: block;
            max-width: 100%;
            /*height: auto !important;*/
        }

        /** Carousel Controls **/

        .jcarousel-control-prev,
        .jcarousel-control-next {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            width: 30px;
            height: 30px;
            text-align: center;
            background: #4E443C;
            color: #fff;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
            font: 24px/27px Arial, sans-serif;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            -webkit-box-shadow: 0 0 4px #F0EFE7;
            -moz-box-shadow: 0 0 4px #F0EFE7;
            box-shadow: 0 0 4px #F0EFE7;
        }

        .jcarousel-control-prev {
            left: 15px;
        }

        .jcarousel-control-next {
            right: 15px;
        }

        /** Carousel Pagination **/

        .jcarousel-pagination {
            position: absolute;
            /*bottom: -40px;*/
            left: 50%;
            padding-top: 2px;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            margin: 0;
        }

        .jcarousel-pagination a {
            text-decoration: none;
            display: inline-block;

            font-size: 11px;
            height: 10px;
            width: 10px;
            line-height: 10px;

            background: #fff;
            color: #4E443C;
            border-radius: 10px;
            text-indent: -9999px;

            margin-right: 7px;


            -webkit-box-shadow: 0 0 2px #4E443C;
            -moz-box-shadow: 0 0 2px #4E443C;
            box-shadow: 0 0 2px #4E443C;
        }

        .jcarousel-pagination a.active {
            background: #4E443C;
            color: #fff;
            opacity: 1;

            -webkit-box-shadow: 0 0 2px #F0EFE7;
            -moz-box-shadow: 0 0 2px #F0EFE7;
            box-shadow: 0 0 2px #F0EFE7;
        }

        .wrapper {
            /*max-width: 85%;*/
            /*padding: 0 20px 40px 20px;*/
            margin: auto;
            overflow: hidden;
        }
    </style>
    <script>
        j$ = jQuery.noConflict();
        j$(function() {
            j$('.nailthumb-container img').imgpreload({
                each: function(){
                  j$(this).parents('.nailthumb-container').nailthumb({preload:false});
                }, all: function(){
                }
            });

            j$( "img" ).click(function() {
                window.open(j$(this)[0].src, '_blank');
            });

            (function(j$) {
                j$(function() {
                    var jcarousel = j$('.jcarousel');

                    if(j$('.cover').length<3){
                        j$('#car_pag').hide();
                    }

                    jcarousel
                        .on('jcarousel:reload jcarousel:create', function () {
                            var carousel = j$(this),
                                width = screen.width * 0.80;
                                console.log(width);
                            if (width >= 600) {
                                var i =3;
                                // if(j$('.cover').length < 3){
                                //  i = j$('.cover').length;
                                // }
                                width = width / i;

                                 // if(j$('.cover').length == 1){
                                    // width = width / 3;
                                 // }
                            } else if (width >= 350) {
                                width = width / 2;
                            }
            console.log(width);
            console.log(carousel.jcarousel('items'));
            // console.log(Math.ceil(width);
                            carousel.jcarousel('items').css('width', Math.ceil(width) + 'px');
                        })
                        .jcarousel({
                            wrap: 'circular'
                        });

                    j$('.jcarousel-control-prev')
                        .jcarouselControl({
                            target: '-=1'
                        });

                    j$('.jcarousel-control-next')
                        .jcarouselControl({
                            target: '+=1'
                        });

                    j$('.jcarousel-pagination')
                        .on('jcarouselpagination:active', 'a', function() {
                            j$(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function() {
                            j$(this).removeClass('active');
                        })
                        .on('click', function(e) {
                            e.preventDefault();
                        })
                        .jcarouselPagination({
                            perPage: 1,
                            item: function(page) {
                                return '<a href="#' + page + '">' + page + '</a>';
                            }
                        });

                    j$('.wrapper').css('width', (screen.width * 0.80) + (16 * 3) + 'px');
                    console.log(j$('.cover').length);
                    if(j$('.cover').length == 2){
                        // console.log((screen.width * 0.80)/2);
                        j$('.wrapper').css('width', ((screen.width * 0.80) / 3) * 2 + (16 * 2) + 'px');
                    }
                    if(j$('.cover').length == 1){
                        console.log((screen.width * 0.80)/3);
                        j$('.wrapper').css('width', (screen.width * 0.80) / 3 + 'px');
                    }
                    // if(j$('.cover').length==2){
                    //     j$('.wrapper').css('max-width', '80%');
                    // }

                    // if(j$('.cover').length==1){
                    //     j$('.wrapper').css('max-width', '20%');
                    // }
                });
            })(jQuery);
        });
</script>

<div id="all">
    <apex:outputPanel id="img_vis" rendered="{!!imgURLs.empty}">
        <div class="wrapper">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <apex:repeat value="{!imgURLs}" var="img" id="img_list" >        
                            <li class="nailthumb-container square-thumb">
                                <img class="cover" src="{!img}" style="display: inline !important;" />
                            </li>           
                        </apex:repeat>
                    </ul>
                </div>

                <a href="#" id="prev_btn" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" id="next_btn" class="jcarousel-control-next">&rsaquo;</a>
                <p id="car_pag" class="jcarousel-pagination"></p>
            </div>
        </div>
    </apex:outputPanel>
    <apex:outputPanel id="no_img" rendered="{!imgURLs.empty}">
        <div id="no_img_info">
            <div>{!$Label.NoIMG}</div>
        </div>
    </apex:outputPanel>
</div>
</apex:page>