<apex:page showHeader="false" sidebar="false"  controller="ManageFilesController">
<apex:includeScript value="{!$Resource.jQuery}"/>
<apex:includeScript value="{!$Resource.DropzoneJS}"/>
<apex:stylesheet value="{!$Resource.DropzoneJScss}"/>
<apex:stylesheet value="{!URLFOR($Resource.jQuery_UI, '/jquery-ui-1.11.3.custom/jquery-ui.min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.jQueryThumbnail, '/nailthumb/jquery.nailthumb.1.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jQuery_UI, '/jquery-ui-1.11.3.custom/jquery-ui.min.js')}"/>
<script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
<c:AjaxLoader />
<style type="text/css">
    body {background-color: #EEF;}
    .dropzone {  height: 200px; border: 2px dashed #0087F7; border-radius: 5px; background: white; overflow-y: auto; overflow-x:hidden;  }
    .dropzone .dz-message { font-family: Verdana, Geneva, sans-serif; font-size: 24px; }
    .dropzone-outer {
        box-shadow:0 0 5px rgba(0,0,0,0.65);
        padding: 0.5%;
        margin: 1.1%;
        background-color: white;
    }
    .after-box {
      clear: left;
    }
    .upload_info{
        font-family: Verdana, Geneva, sans-serif; font-size: 13px;
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    #topDiv > div {
        width:46.5%;
    }
    .info {
        padding: 0.5%;
        margin: 1.1%;
        width: 100%;
        height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow:0 0 5px rgba(0,0,0,0.65);
        background-color: ghostwhite;
    }
    .info li {
        margin: 3px 0px;
    }

    .drag_row {
        cursor: pointer;
    }
    .drag_row:hover {
        background-color: lightcyan;
    }
    .ui-selected:hover {
        background-color: #cfeef8;
    }
    .ui-selected {
        background-color: #cfeef8;
        font-weight: 600;
    }
    .list {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .list td  {
        border: none !important;
    }
    .ui-selected > td:first-child {
        border-left: 6px solid #FFA91F !important;
    }
    .active-class {
        box-shadow: 0px 0px 0px 2px rgba(255,165,0,1) !important;
    }
    .drop-hover {
        box-shadow: 0px 0px 1px 5px rgba(0,255,0,1) !important;
    }
    tr {
        background-color: white;
    }
    caption {
        padding: 3px;
        text-align: left;
        font-family: Verdana, Geneva, sans-serif; 
        font-size: 12px; 
        font-weight: bold;
    }
    .black-border {
        box-shadow:0 0 5px rgba(0,0,0,0.85);
        background-color: white;
        cursor: move;
    }

    a.tooltip {outline:none; margin:5px; line-height: 25px; font-size: 13px;}
    a.tooltip strong.title {line-height:30px;}
    a.tooltip:hover {text-decoration:none;} 
    a.tooltip span {
        z-index:10;display:none; padding:14px 20px;
        margin-top:-30px; margin-left:28px;
        width:500px; line-height: 18px;
    }
    a.tooltip:hover span{
        display:inline; position:absolute; color:#111;
        border:1px solid #DCA; background:#fffAF0;}
    .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
        
    /*CSS3 extras*/
    a.tooltip span
    {
        border-radius:4px;
        box-shadow: 5px 5px 8px #CCC;
    }
</style>
<script>
    j$ = jQuery.noConflict();
    var fileData = new Array();
    var errors = 0;
    var counter = 0;
    var fileNamesNormalized = new Array();
    var finalFileNames = new Array();
    var leftButtonDown = false;

    j$(document).mousedown(function(e){
        // Left mouse button was pressed, set flag
        if(e.which === 1) leftButtonDown = true;
    });
    j$(document).mouseup(function(e){
        // Left mouse button was released, clear flag
        if(e.which === 1) leftButtonDown = false;
    });


    function closeWin(){
        window.close();    
    }

    function initDropzone() {
        sforce.connection.sessionId = '{!$Api.Session_ID}';
        Dropzone.options.fileUpload = {
           dictFileTooBig: "{!$Label.Dropzone_FileTooBig}",
            dictDefaultMessage: "{!$Label.Dropzone_DefaultMsg}",
            dictFallbackMessage: "{!$Label.Dropzone_FallbackMessage}",
            dictFallbackText: "{!$Label.Dropzone_FallbackText}",
            dictInvalidFileType: "{!$Label.Dropzone_InvalidFileType}",
            dictResponseError: "{!$Label.Dropzone_ResponseError}",
            dictCancelUpload: "{!$Label.Dropzone_CancelUpload}",
            dictCancelUploadConfirmation: "{!$Label.Dropzone_ConfirmCancel}",
            dictRemoveFile: "{!$Label.Dropzone_RemoveFile}",

            acceptedFiles: 'application/pdf',
            parallelUploads: 1,
            uploadMultiple: false,
            init: function() {
            this.on("queuecomplete", function() {
                ////console.log(fileData);
                var json = JSON.stringify(fileData);
                if (json.charAt(0) == '\"') {
                    json = json.slice(0, -1).substr(1).replace(/\\/g,'');
                }
                    
                // //console.log('filedata', json);
                j$('[id$=ajaxData]').val(json);
                massImport();
                fileData = new Array();
            });
            this.on("success", function(file) {
                fileData.push(
                {
                    "orgFileName": file.name,
                    "url": file.xhr.response,
                    "normalFileName": finalFileNames[file.name]
                });
            });
            this.on("sending", function(file) {
                j$('[id$=savePath]').val(fileNamesNormalized[file.name]);    
            });
            this.on("addedfile", function(file) {
                var fileName = file.name;
                if (file.type == "application/pdf" && fileName.indexOf(".pdf") > -1) {

                    var resName;
                    var preFinal;
                    try {
                        var fileNameArray = fileName.split("__");
                        resName = fileNameArray[1].split(".pdf")[0]; //ex. xyz_P.9.M3.pdf
                    }
                    catch(err) {
                        this.removeFile(file);
                        resName = '';
                        j$("#errors_div ul").append('<li>'+fileName+' - {!$Label.InvalidFilename}</li>');
                    }

                    try {
                        preFinal = resName;
                        resName = resName.replace(/[ĄąĘęŻżŹźĆćŁłÓóŚś]/g, "_");
                        var idRes = sforce.connection.query('SELECT id FROM Resource__c WHERE Name LIKE \''+resName+'\''); 
                        if(idRes.size==0){
                            this.removeFile(file);
                            j$("#errors_div ul").append('<li>'+fileName+' - {!$Label.ResourceNotFound}</li>');
                            resName = '';
                        }
                    } catch(err){
                        resName = '';
                    }    
                    if(resName != ''){
                        finalFileNames[fileName] = resName;
                        fileNamesNormalized[fileName] = preFinal;
                    }   
                } else {
                    j$("#errors_div ul").append('<li>'+fileName+' - file type: '+ file.type + ' - {!$Label.InvalidFiletype}</li>');
                }
            });
            }

        };  
    }

    function bindEvents() {
        j$(".drag_row").unbind('mousedown').mousedown(function(event){
            if (event.ctrlKey) {
                if (event.currentTarget.className.indexOf('ui-selected') > -1) {
                    event.currentTarget.removeClassName('ui-selected');
                } else {
                    event.currentTarget.addClassName('ui-selected');
                }     
            }
        });
        j$(".drag_row").unbind('mouseover').mouseover(function(event){
            if (event.ctrlKey && leftButtonDown) {
                if (event.currentTarget.className.indexOf('ui-selected') > -1) {
                    event.currentTarget.removeClassName('ui-selected');
                } else {
                    event.currentTarget.addClassName('ui-selected');
                }     
            }
        });
        bindDraggable();
        bindDroppable();
    }
        
    function bindDraggable() {
        j$('.drag_row').draggable({
            snap: false,
            start: function(e) {
                //console.log(e);
                if (e.ctrlKey) {
                    e.preventDefault();
                    j$('body').attr('style', 'cursor: initial');
                    return false;
                }
            },
            helper: function(e) {
                var table = j$('<table class="black-border"></table>');
                if (j$(this).hasClass('ui-selected')) {
                    j$('table.list:not(.black-border) tr.ui-selected').each(function(index) {
                        var helper = j$(this).clone();
                        helper.addClass('clone');
                        var originals = j$(this).children();
                        helper.children().each(function(index) {
                            j$(this).width(originals.eq(index).width());
                        });
                        table.append(helper);     
                    });
                } else {
                    var helper = j$(this).clone();
                    helper.addClass('clone');
                    helper.css('backgroundColor', 'lightcyan');
                    var originals = j$(this).children();
                    helper.children().each(function(index) {
                        j$(this).width(originals.eq(index).width());
                    });
                    table.append(helper);
                }
                return table;
            }, 
            zIndex: 100,
            cursor: "move"
        }); 
    }


    function bindDroppable() {
         j$("#dropDiv").droppable({
            hoverClass: "drop-hover",
            activeClass: "active-class",
            accept: ".drag_row",
            drop: function( event, ui ) {
                var error = false;
                var res = [];
                var metaIds = [];
                var list = [];
                if (j$(ui.draggable).hasClass('ui-selected')) {
                    list = j$('.list .ui-selected').not('.clone');
                }
                if (list.length > 0) {
                    list.each(function(index) {
                        res.push(j$(this).children().eq(2).text());
                        metaIds.push(j$(this).children().eq(2).data('metaid'));
                    });
                    ////console.log(metaIds);
                    var sorted_arr = res.sort();
                    var results = [];
                    for (var i = 0; i < res.length - 1; i++) {
                        if (sorted_arr[i + 1] == sorted_arr[i]) {
                            results.push(sorted_arr[i]);
                        }
                    }
                    if (results.length > 0) {
                        error = true;
                        alert('{!$Label.MaxOneDataSheet}'.replace('{resList}', results));
                    }
                } else {
                    ////console.log(event, ui);
                    metaIds.push(j$(ui.draggable).children().eq(2).data('metaid'));
                }

                if (!error) {
                    var json = JSON.stringify(metaIds);
                    if (json.charAt(0) == '\"') {
                        json = json.slice(0, -1).substr(1).replace(/\\/g,'');
                    }
                        
                    ////console.log('metaIdsData', json);
                    j$('[id$=ajaxData]').val(json);
                    massUpdate();
                }
            }
        });
    }
    
    j$(document).ready(function(){
        initDropzone();
        bindEvents();
    });

</script>
    <apex:form >
        <apex:inputHidden value="{!ajaxData}" id="ajaxData"/>      
        <apex:actionFunction name="massImport" action="{!massImport}" rerender="uploaded,success_div" oncomplete="bindEvents();" status="ajaxStatus" />
        <apex:actionFunction name="massUpdate" action="{!massUpdate}" rerender="uploaded-datasheet" oncomplete="bindDroppable();" status="ajaxStatus" />

    </apex:form>
    <div id="topDiv">
        <div class="pull-left dropzone-outer">
            <form action="{!uploadServiceAddress}" class="dropzone" id="fileUpload">      
                <input type="hidden" name="savePath" value="{!objectName}" id="savePath" />
                <input type="hidden" name="orgId" value="{!orgId}" />
                <div class="dropzone-previews"></div>
                <div class="fallback"> <!-- this is the fallback if JS isn't working -->
                    <input name="file" type="file" />   
                </div>
            </form>
        </div>
        <div class="pull-left info">
            <apex:outputPanel styleClass="upload_info">
                <apex:outputText value="{!filesUploadedSuccess}</ul>" escape="false" id="success_div"/>
                <div id="errors_div">
                    <b>{!$Label.FilesUpError}</b> 
                    <ul></ul>
                </div>
            </apex:outputPanel>
        </div>
    </div>
    <div>
        <apex:pageMessages />
        <a href="#" class="tooltip">
            {!$Label.Help}
            <span>
                <apex:image styleClass="callout" value="{!$Resource.ArrowForToolip}"/>
                <!--<img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="title">{!$Label.Help}</strong><br />
                <apex:outputText escape="false" value="{!$Label.HelpUploadFiles}" />
            </span>
        </a>
        <apex:pageBlock id="uploaded" >
            <table class="list" border="0" cellpadding="0" cellspacing="1">
                <caption>{!$Label.UploadedFiles}</caption>
                <tr class="headerRow">
                    <th class="headerRow">{!$Label.File}</th>
                    <th class="headerRow">{!$Label.FileType}</th>
                    <th class="headerRow">{!$ObjectType.Resource__c.fields.Name.Label}</th>
                </tr>
                <apex:repeat value="{!insertedList}" var="item" >
                    <tr class="dataRow drag_row ui-draggable">
                        <td class="dataCell"><a target="_blank" href="{!item.meta['URL']}" >{!item.meta['originalFilename']}</a></td>
                        <td class="dataCell"><apex:outputText value="{!item.meta['FileType']}" /></td>
                        <td class="dataCell" data-metaid="{!item.metadata.Id}"><apex:outputLink target="_blank" value="/{!item.res.Id}" >{!item.res.Name}</apex:outputLink></td>
                    </tr>
                </apex:repeat>
                <apex:outputText rendered="{!insertedList.size = 0}">
                    <tr class="dataRow">
                        <td>{!$Label.NoFilesAdded}</td>
                    </tr>
                </apex:outputText>
            </table>
        </apex:pageBlock>
         <apex:pageBlock id="uploaded-datasheet" >
            <div id="dropDiv">
            <table class="list" border="0" cellpadding="0" cellspacing="0">
                <caption>{!$Label.MarkedAsDataSheet}</caption>
                <tr class="headerRow">
                    <th class="headerRow">{!$Label.File}</th>
                    <th class="headerRow">{!$Label.FileType}</th>
                    <th class="headerRow">{!$ObjectType.Resource__c.fields.Name.Label}</th>
                </tr>
                <apex:repeat value="{!insertedDatasheetList}" var="item" >
                    <tr class="dataRow">
                        <td class="dataCell"><a target="_blank" href="{!item.meta['URL']}" >{!item.meta['originalFilename']}</a></td>
                        <td class="dataCell"><apex:outputText value="{!item.meta['FileType']}" /></td>
                        <td class="dataCell"><apex:outputLink target="_blank" value="/{!item.res.Id}" >{!item.res.Name}</apex:outputLink></td>
                    </tr>
                </apex:repeat>
                <apex:outputText rendered="{!insertedDatasheetList.size = 0}">
                    <tr class="dataRow">
                        <td>{!$Label.NoDataSheetsAdded}</td>
                    </tr>
                </apex:outputText>
            </table>
            </div>
        </apex:pageBlock>
    </div>
</apex:page>