<apex:page showHeader="true" sidebar="true" controller="NewDefectController">
<!-- <apex:form >
    <apex:pageBlock >
        <apex:pageBlockSection >
            <apex:inputField value="{!newDefect.Name}"/>
            <apex:outputField value="{!newDefect.Final_Agreement__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="{!$Label.Description}" columns="1" >
            <apex:inputField value="{!newDefect.Description__c}"/>
            <apex:inputField value="{!newDefect.Scope_of_service__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockButtons >
            <apex:commandButton value="{!$Label.BtnSave}" action="{!save}"/>
            <apex:commandButton value="{!$Label.BtnCancel}" action="{!back}"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form> -->
</apex:page>