<apex:page controller="NewSinglePayment" tabStyle="Sales_Process__c">

    <apex:pageMessages />      
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection title="{!$Label.Payment}" collapsible="false" columns="1"  >
                
                <apex:outputField value="{!payment.Agreements_Installment__c}" />
                <apex:inputField value="{!payment.Contact__c}" />
                <apex:inputField value="{!payment.Amount_to_pay__c}" />
                <apex:inputField value="{!payment.Paid_Formula__c}" />
                <apex:inputField value="{!payment.Due_Date__c}" />
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons location="bottom">

                <apex:commandButton value="{!$Label.BtnSave}" id="btnSave" action="{!save}"/>
                <apex:commandButton value="{!$Label.BtnCancel}" id="BtnCancel" action="{!cancel}"/>
            
            </apex:pageBlockButtons>
        </apex:pageBlock>
    
    </apex:form>

</apex:page>