<apex:page standardcontroller="Extension__c" extensions="PrintDefectPDFController" applyBodyTag="false" cache="false"
sidebar="false" showHeader="false" renderAs="PDF">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />       
        <style type="text/css">

            @page{ 
                margin: 1cm;
                size: A4 portrait;
            }

            
            body { 
                font-family: 'Arial Unicode MS'; 
                font-size: 14px; 
                line-height: 1.5em;
                color: #000;
                padding: 0px 25px 0px 15px;
            }       
            
            hr {
                margin-top: 95px;
                width: 665px;
                align: left;
                color: #003366;
            }
            
            table  {
                border: 2px solid black;
                border-collapse: collapse;
                table-layout: fixed;
                margin-left: 2px;
            }
            
            td {
                padding:0px;
                border: 2px solid black;
            }

            #captions {
                border:none;
            }

            #aftertable {
                font-size: 11px;
                font-stretch: extra-condensed;
                padding: 0px;
                width: 660px; 
            }

            #invtop{
                width: 660px; 
                color: #003366;
                font-size: 12px;
                font-family: Arial;
            }   
            
            #logo { 
                text-align: left;
                float: right;
                margin-top: 0px;
                margin-right: 25px;
                
            } 

            #logo img {
                width: 120px;
            }

            #protocollabel { 
                font-size: 24px;  
                margin-top: 25px;
                margin-bottom: 5px;
                text-align: center;
                text-transform: uppercase;
            	display:block;
            }
            
            #investor {
                float: left;
                font-family: Tahoma, Verdana, sans-serif;
                line-height: 1.3;
            }
            
            #protnumber {
                width: 120px;
                height: 60px;
                border:2px solid black;
                float:left;
                font-size: 24px;
                text-align: center;
                padding-top: 25px;
            }
            
            #maininfo {
                height: 300px;
                width: 430px;
                float: right;
                padding: 0px;
                margin-left: 80px;
                margin-top: -20px;
            }

            #contactinfo {
                width: 429px;
                height: 90px;
                border:2px solid black;
            padding-top: 1px;
                padding-left: 2px;
            	padding-bottom: 2px;
                font-size: 13px;
                border-collapse: separate;
            }
            #contactleftcol {
                width: 118px;
                border: none;
            }

            #contactrightcol {
                width: 300px;
                border: none;
            	line-height: 1;
            }
            #extdescr {
                width:660px;
                height: 50px;
                border:2px solid black;
            	padding: 2px;
            }
            #defect {
                width: 602px;
                float:left;
                margin-top: -130px;
            }
            
            #dynpart {
            }
            #tableviewdef {
                width: 660px; 
                height: 200px;
                border:2px solid black;
                margin-bottom: 0px;
                font-size: 13px;
            }
            
            #tableviewdef td {
                padding-left: 3px;
                padding-bottom: 0px;
            }
            #tableviewlast {
                width: 660px; 
                height: 60px;
                border:2px solid black;
                margin-top: 7px;
                font-size: 14px;
                vertical-align: bottom;
                padding: 0px;
            }
            
            #tabletext {
                color:#808080;
            }
            
            #beforetable {
                margin-top: 7px;
                font-size: 13px;
                margin-bottom: 0px;
            }

            #dateinvinfo {
                font-family: "Arial Unicode MS";
                font-size: 13px;
                line-height: 1.3;
            }

            #phototext {
                display: inline;
                float: right;
            	font-size: 11px;
            	margin-left:-100px;
           		margin-right: 23px;
            	margin-top: -26px;
            }
            #photoobj {
                float: right;
                display: inline;
                width: 16px;
                height: 12px;
                border-top: none;
            	border-right: none;
                border-left: 2px solid black;
                border-bottom: 2px solid black;
                margin-top: -22px;
            	margin-left: 2px;
            }
        </style>
        </head>

        <body>
        <div id="invtop">
            <div id='investor'>
                            <apex:outputPanel >
                                <b><apex:outputField value="{!investor.Name}" style="display:block; font-weight:bold;" /></b>
                                <apex:outputText value="{!investor.BillingStreet}, {!investor.BillingPostalCode} {!investor.BillingCity}"
                                rendered="{!if(investor.BillingCity !=null, true, false)}" style="display:block;"/>            
                                <apex:outputText value="tel./fax: {!investor.Phone}" rendered="{!if(investor.Phone != null, true , false)}" style="display:block;"/>
                                <apex:outputText value="e-mail: {!investor.Email__c}" rendered="{!if(investor.Email__c != null, true , false)}" style="display:block;"/>
                                <apex:outputText value="{!investor.Website}" rendered="{!if(investor.Website != null, true , false)}" style="display:block;"/>
                            </apex:outputPanel>
            </div>
            <div id="logo">
                <apex:image url="{!imageURL}" />

            </div>  

        </div>
        <hr/>
        <div id="protocollabel">
            <apex:outputText value="{!$Label.Complaint_Protocol}"/>
        </div>
        <div id="dynpart">
            <div id="complnumber">Nr zgłoszenia</div>
            <div id='protnumber'>
                <b><apex:outputField value="{!extension.Defect_Number__c}" style="font-weight: bold;" rendered="{!if(extension.Defect_Number__c !=null, true, false)}" /></b>
            </div>
            
            <div id="maininfo">
                <div id="dateinvinfo">
                    <apex:outputText value="Sporządzony dnia: {!today}" rendered="{!if(today !=null, true, false)}" style="margin-bottom:5px;"/><br/>
                    <apex:outputText value="Dotyczy zgłoszenia reklamacyjnego z dnia: {!datecreat}" rendered="{!if(datecreat !=null, true, false)}" style="margin-bottom: 3px; "/><br/>
                    <apex:outputText value="Inwestycja: {!inv.Name}" rendered="{!if(inv.Name !=null, true, false)}" style="margin-bottom: 2px;"/>
                </div>
                <div id="beforetable" style="margin-bottom: -2px; font-size: 11px">Dokładny adres i dane kontaktowe</div>
                <table id="contactinfo">
                    <tr>
                        <td id="contactleftcol">Nazwisko i imię:</td>
                        <td id="contactrightcol"><b><apex:outputField value="{!cont.Name}" style="font-weight:bold;" rendered="{!if(cont.Name !=null, true, false)}"/></b>
                        </td>
                    </tr>
                    <tr>
                        <td id="contactleftcol">Adres:</td>
                        <td id="contactrightcol"><b><apex:outputPanel style="font-weight:bold;" rendered="{!if(contacc.ShippingCity !=null ,true,false)}">
                            <span class="contact-info">
                                {!contacc.ShippingStreet}, 
                                {!contacc.ShippingPostalCode},
                                {!contacc.ShippingCity}
                            </span>
                        </apex:outputPanel>
                        </b>
                        </td>
                    </tr>
                    <tr>
                        <td id="contactleftcol">Telefon kontaktowy:</td>
                        <td id="contactrightcol"><b><apex:outputText value="{!cont.Phone}" style="font-weight:bold;"/></b></td>
                    </tr>
                    <tr>
                        <td id="contactleftcol">e-mail:</td>
                        <td id="contactrightcol"><apex:outputText value="{!cont.Email}"/></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="defect">
            Opis usterki:<br/>
            <div id="extdescr">
                <apex:outputText value="{!extension.Description__c}" rendered="{!if(extension.Description__c !=null, true, false)}" /><br/>
            </div>
            <div id="beforetable">Oględziny:</div>
            <table id="tableviewdef">
                <tr><td colspan = "3" height="120px" style="border-bottom:none; vertical-align: top;" >
                        <div id="tabletext">Dokładny opis usterki/usterek (wypełnia pracownik SEMEKO):</div>
                        <div id="phototext">zdjęcia z oględzin</div>
                        <div id="photoobj"></div>
                    </td>
                </tr>
                <tr >
                    <td height="40px" style="border-top:none; border-right:none; text-align: left; vertical-align: bottom;">Data i godzina oględzin</td>
                    <td style="border-top:none; border-left:none; border-right: none; text-align: left; vertical-align: bottom;">Podpis pracownika SEMEKO</td>
                    <td style="border-top:none; border-left:none; text-align: left; vertical-align: bottom;">Podpis Klienta<sup>1)</sup></td>
                </tr>
                <tr>
                    <td height="40px">&nbsp;</td>
                    <td vertical-align="bottom">&nbsp;</td>
                    <td vertical-align="bottom">&nbsp;</td>
                </tr>
            </table>
            <div id="aftertable" style="margin-top: -4px;">1) Podpis Klienta jest równoznaczny ze zgodą na przeprowadzenie oględzin w lokalu oraz potwierdza fakt odbycia się oględzin.</div> 

            <div id="beforetable">Usunięcie usterki:</div>

            <table id="tableviewdef">
                <tr><td colspan = "3" height="100px" style="border-bottom:none; vertical-align: top;" >
                        <div id="tabletext">Dokładny opis wykonanych robót (wypełnia pracownik SEMEKO):</div>
                    </td>
                </tr>
                <tr >
                    <td height="20px" style="border-top:none; border-right:none; text-align: left; vertical-align: bottom;">Data wykonania robót</td>
                    <td style="border-top:none; border-left:none; border-right: none; text-align: left; vertical-align: bottom;">Podpis pracownika SEMEKO</td>
                    <td style="border-top:none; border-left:none; text-align: left; vertical-align: bottom;">Podpis Klienta<sup>1)</sup></td>
                </tr>
                <tr>
                    <td height="80px">&nbsp;</td>
                    <td vertical-align="bottom">&nbsp;</td>
                    <td vertical-align="bottom">&nbsp;</td>
                </tr>
            </table>
            <div id="aftertable">1) W przypadku nieodebrania wykonanych robót prosimy o podanie przyczyny w polu Uwagi Klient</div>
            
            <table id="tableviewlast">
                <tr>
                    <td height="10px" style="border-top:none; border-left:none; border-right:none; text-align: left;">Uwagi Klienta</td>
                    <td style="border-top:none; border-left:none; border-right: none; text-align: left;">Telefon kontrolny / Uwagi</td>
                </tr>
                <tr>
                    <td height="50px">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table> 
            
        </div>
    </body>

</apex:page>