<apex:page standardController="Resource__c" extensions="ResourceRelatedListPDFs">

<apex:includeScript value="{!$Resource.jQuery}"/>
<c:AjaxLoader />


<style type="text/css">
    .del_link{color: red !important;}
    div#outerDiv {
        overflow: hidden; 
    }
     #navigation div#links a {
        font-weight: bold;
        font-size: 1.3em;
        text-decoration: none;
    }
    #navigation {
        overflow: hidden;
        padding: 5px;
    }
    #navigation div#links {
        float: right;
    }
    #navigation div#groupInfo {
        float: left;
    }
    .wall {
        position: relative;
        top: -2px;
        margin: 0px 5px 0px 4px;
    }
    .emptySpace {
        margin: 0px 2px;
    }
    .inactive {
        color: lightgray !important;
        pointer-events: none;
        cursor: default;
    }
    .pbTitle, .pbButton {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
    .bPageBlock {
        margin-bottom: 0px !important;
    }
    .pbBody {
        margin-top: 6px !important;
        margin-bottom: 0px !important;
    }
    .noRecordsText {
        padding: 11px 0 1px 4px;
        display: block;
    }
</style>
<script type="text/javascript">
    j$ = jQuery.noConflict();

    var filepath;
    function setFileToDel(counter, file){
        j$('[id$=choice]').val(counter);
        filepath = file;
    }

    function deleteFile(){
        if(j$('[id$=deleteInfoMsg]').val() != ''){
            alert(j$('[id$=deleteInfoMsg]').val());
            return false;
        }

        var service =  "{!JSENCODE(uploadServiceAddress)}";
        var url = filepath.split('/');
        var u = url.splice(3);
        var delpath = u.join('/'); 
        j$.ajax({
            url: service+'?deleteFile='+delpath+'&orgId={!orgId}',
            type: 'DELETE',
            success: function(result) {},
            complete: function(result) {}
        });
    }
</script>
    <div id="outerDiv"> 
    <apex:form id="resForm">
        <apex:inputHidden value="{!deleteInfoMsg}" id="deleteInfoMsg"/>
        <apex:inputHidden value="{!choice}" id="choice" />  
        <apex:pageBlock id="pb">

        <apex:outputPanel id="resultsPanel">
            <apex:pageBlockTable value="{!metafilesList}" var="list" id="resultsTable">
                <apex:column >
                    <apex:commandLink styleClass="del_link" action="{!deleteFile}" value="{!$Label.BtnDel}" onclick="setFileToDel('{!list.index}', '{!list.meta.FileID__c}');" rerender="resForm,deleteInfoMsg" oncomplete="deleteFile();" status="ajaxStatus"/>
                </apex:column>
                <apex:column headerValue="URL" >
                    <apex:outputLink value="{!list.meta.FileID__c}" target="_blank">{!list.fileName}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="{!$Label.Owner}" >
                    <apex:outputField value="{!list.meta.CreatedById}" />
                </apex:column>
                <apex:column headerValue="{!$Label.PublishDate}" >
                    <apex:outputField value="{!list.meta.CreatedDate}" />
                </apex:column>
            </apex:pageBlockTable>
            <apex:outputText rendered="{!metafiles.size = 0}" styleClass="noRecordsText" value="{!$Label.NoRecordsToDisplay}"/>

            <div id="navigation">
                <div id="groupInfo">
                    <apex:outputText value="{!minIndex}-{!maxIndex} {!$Label.Of} {!metafiles.size}" />
                </div>
                <div id="links">
                    <apex:commandLink styleClass="{!previousClass}" action="{!firstGroup}" reRender="pb" value="<<" status="ajaxStatus"/>
                    <span class="emptySpace" />
                    <apex:commandLink styleClass="{!previousClass}" action="{!previousGroup}" reRender="pb" value="<" status="ajaxStatus"/>
                    <span class="wall">|</span>
                    <apex:commandLink styleClass="{!nextClass}" action="{!nextGroup}" reRender="pb" value=">" status="ajaxStatus"/>
                    <span class="emptySpace" />
                    <apex:commandLink styleClass="{!nextClass}" action="{!lastGroup}" reRender="pb" value=">>" status="ajaxStatus"/>
                </div>
            </div>
        </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
    </div>
</apex:page>