<apex:page showHeader="true" sidebar="true" standardController="Sales_Process__c" extensions="SalesProcessEdit">

	<apex:includeScript value="{!$Resource.jQuery}"/>
	<c:AjaxLoader />
	<head>
        <style type="text/css">
			input {
	            border: 1px solid #c5c5c5; 
	            border-radius: 4px; 
	            outline: medium none !important; 
	            padding: 6px;
		    }
			.bPageHeader, .bPageHeader td.left {
			    background-image: none !important;
			}
	        .clear-button {
	            background-attachment: scroll !important;
	            background-clip: border-box !important;
	            background-color: white !important;
	            background-image: none !important;
	            background-origin: padding-box !important;
	            background-position: 0 0 !important;
	            background-repeat: repeat !important;
	            background-size: auto auto !important;
	            cursor: pointer !important;
	            padding: 7px !important;
	        }
	        input[class = 'btn'] {
			     display: none;
			}

        </style>

        <script type="text/javascript">
        	
        	j$ = jQuery.noConflict();       	
        	
        	j$( document ).ready(function() {

	        	var inputTextArrayFormerValues = new Array(); 	// initial field values in input texts
	        	var inputTextArrayIds = new Array();			// corresponding ids
	        	var lookupsArrayFormerValues = new Array();		// all initial values of lookup fields

	        	// get initial values
				j$("input[type=text]").each(function(){
					var input = j$(this);
					if(input.attr('Id') != 'phSearchInput') {
						if(input.parent().attr('class') == 'lookupInput') { // lookups
							lookupsArrayFormerValues.push(input.val());
						}
						inputTextArrayFormerValues.push(input.val());
						inputTextArrayIds.push(input.attr('Id'))
					}
				}); 

				// save method
				j$(document).on('click', '.save-btn', function() {
		        	var inputTextArrayEditedValues = new Array(); 	// edited field values in input texts
		        	var inputTextArrayEditedIds = new Array();		// corresponding ids

		        	// get edited values
					j$("input[type=text]").each(function(){
						var input = j$(this);
						if(input.attr('Id') != 'phSearchInput') {
							inputTextArrayEditedValues.push(input.val());
							inputTextArrayEditedIds.push(input.attr('Id'))
						}
					});	

					// distinguish all values that got changed and send to apex
					var valuesToSend = new Array();
					var idsToSend = new Array();					
					for(var i = 0; i < inputTextArrayFormerValues.length; i++) {
						if(inputTextArrayFormerValues[i] != inputTextArrayEditedValues[i]) {
							valuesToSend.push(inputTextArrayEditedValues[i]);
							idsToSend.push(inputTextArrayIds[i]);
						}
					}	

					// send to apex
					if(valuesToSend.length > 0) {
		                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SalesProcessEdit.saveForm}', valuesToSend, idsToSend, function(data) {
		                    if (data != null && data == 'true') {
		                    	console.log('true');
		                    }
		                });			            
					}

				});

			});
        </script>
	</head>		    

	<body>
		<!-- <apex:form id="embedded-form"> -->
			<apex:pageMessages />

			<input type="button" class="clear-button save-btn btn" value="save" />
			<apex:outputText value="{!content}" escape="false" />
			<!-- <apex:iframe src="/a0D2400000DCFUK/e" /> -->
		<!-- </apex:form> -->
	</body>

</apex:page>